@charset "utf-8";
/* CSS Document */
@media (max-width: 1010px){
.grid figure h2 {font-size: 15px !important;}
}
@media (max-width: 450px){
figure.effect-milo p {width: 70% !important; font-size: 11px !important; line-height: 13px !important;}
}

.story-content .sp-2 {color: #e39f24 !important;}
.genric-btn.primary {background: #e39f24 !important;}
 a.genric-btn:hover {color: #e39f24 !important; background: #fff !important; border: 1px solid #e39f24 !important;}
 .footer-social a:hover {background-color: #e39f24 !important;}
#myVideo {bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;}

.about-generic-area .border-top-generic {padding: 15px 15px !important;}

figure.effect-milo p {font-weight: 600;}

.video-area .overlay-bg {background: #e39f240d !important; z-index: 100 !important;}

.border-top-generic {max-width: 1920px !important;}

.carousel-inner {max-height: 599px;}

@media (min-width: 976px){
.video-area {height: 480px;}
}

@media (max-width: 520px){
.video-area {padding-bottom: 0px !important;}
}

.videotext1 {background-color: #e39f24c2 !important;padding: 10px 20px !important;position: absolute !important;color: #fff !important;border-radius: 5px !important;top: 10%!important;left: 0!important;font-size: 158%!important;}

.videotext2 {background-color: #e39f24c2 !important;padding: 4px 20px !important;position: absolute !important;color: #fff !important;border-radius: 5px !important;top: 20% !important;font-size: 129% !important;left: 0!important;}

@media (max-width: 969px){
.videotext1 {font-size: 120% !important; padding: 4px 20px !important; top: 8%!important; }
	.videotext2 {font-size: 93% !important;}	
}

.overlay-bg {background: #492602ad !important;}

.feature-area .lnr {color:#856404 !important;}

.feature-area .icon:hover {background: #856404cc !important;}

.common-input, .common-textarea {border: 1px solid #f9f9ff !important;}

.primary-btn.white-bg span {color: #e39f24 !important;}

.primary-btn.white-bg:hover span {color: #fff !important;}

.primary-btn.white-bg:hover {background: #e39f24 !important;}

.feature-area, .contact-area {background: url(../img/mad-bg.jpg) no-repeat center center/cover !important;}

@media (max-width: 600px){
	.bannerbig {display:none;}
}

@media (min-width: 600px){
	.bannersmall {display:none;}
}

.feature-area .icon {background: #85640463 !important; padding: 0 !important;}

a:hover {color:#e39f24 !important;}